<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Load your image</h2>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file">
        <button type="submit">Загрузить</button>
    </form>
    {% if url %}
    <img src=" {{ url }}" alt="">
    <img src=" {{ edited_url }}" alt="">
    {% endif %}
</body>
</html>